<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kr120)/urdf/kr120_xacro.xacro"/>
    
    <!--initial position-->
    <arg name="x" default="0" />
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <!--launch gazebo-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true" />
        <arg name="paused" value="true"/>
    </include>

    <!--spawn the robot-->
    <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model kr120 -x $(arg x) -y $(arg y) -z $(arg z)"/>
    

</launch>
